@font-face {
    font-family: 'display';
    src: url(./fonts/MagicalnightRegular-6RpA6.otf);
}
@font-face {
    font-family: 'regular';
    src: url(./fonts/BinomaTrialRegular-R9Kvv.ttf);
}
.hidden{
    display: none;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}
@media screen and (max-width: 480px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}
body{
    margin: 0px;
    position: relative;
    font-family: regular, sans-serif;
    font-size: 16px;
    font-weight: 100;
}
header{
    background: #181828;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 10px 20px 10px;
    position: sticky;
    top: 0;
}
header a{
    margin: 30px;
}
h1{
    font-family: display, serif;
    font-size: 50px;
    margin: 0px auto;
    padding-top: 40px;
    width: 750px;
}
h2{
    font-family: display, serif;
    font-size: 40px;
    margin: 0px auto;
    padding-top: 20px;
    width: 750px;
}
p{
    margin: 0px auto;
    padding-bottom: 20px;
    width: 750px;
}
@media screen and (max-width: 800px) {
    h1{
        width: 90vw;
    }
    h2{
        width: 90vw;
    }
    p{
        width: 90vw;
    }
}
.marqee{
    background: #b3dedf;
    color: #392584;
    padding: 10px 0px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}
.turquoise-section{
    background: #04c4c6;
}
.purple-section{
    background: #ba55c8;
}
.gray-section{
    background: #777;
}
.turquoise-purple-transition{
    background-image: linear-gradient(190deg, #04c4c6 50%, #ba55c8 50%);
    height: 50px;
    margin: -1px 0px;
}
.purple-gray-transition{
    background-image: linear-gradient(183deg, #ba55c8 50%, #777 50%);
    height: 100px;
    margin: -1px 0px;
}
.gray-turquoise-transition{
    background-image: linear-gradient(325deg, #777 50%, #04c4c6 50%);
    height: 50px;
    margin: -1px 0px;
}
.turquoise-gray-transition{
    background-image: linear-gradient(#04c4c6 50%, #ababbc 50%);
    height: 100px;
    margin: -1px 0px;
}
footer{
    background: #ababbc;
    text-align: center;
    padding: 20px;
}